<section class="design active js-section">
  <include
    src="./title.html"
    title="diseña"
    iconClass="fal fa-object-ungroup"
  ></include>

  <div class="collapsible">
    <form class="design_form">
      <p class="design_form-title">colores</p>
      <div class="design_form-box">
        <label class="design_form-label">
          <input
            class="design_form-label--input js-input-design"
            type="radio"
            name="palette"
            value="1"
            checked
          />
          <div class="design_form-label--div">
            <div class="design_form-label--div1"></div>
            <div class="design_form-label--div2"></div>
            <div class="design_form-label--div3"></div>
          </div>
        </label>

        <label class="design_form-label">
          <input
            class="design_form-label--input js-input-design"
            type="radio"
            name="palette"
            value="2"
          />
          <div class="design_form-label--div">
            <div class="design_form-label--div4"></div>
            <div class="design_form-label--div5"></div>
            <div class="design_form-label--div6"></div>
          </div>
        </label>
        <label class="design_form-label">
          <input
            class="design_form-label--input js-input-design"
            type="radio"
            name="palette"
            value="3"
          />
          <div class="design_form-label--div">
            <div class="design_form-label--div7"></div>
            <div class="design_form-label--div8"></div>
            <div class="design_form-label--div9"></div>
          </div>
        </label>
      </div>
    </form>
  </div>
</section>
