<section class="card_background">
  <div class="card_button_container">
    <a href="#" class="card_button js-reset-button" title="reset-button">
      <i class="far fa-trash-alt" aria-hidden="true"></i>Reset
    </a>
  </div>
  <section class="card js-card">
    <section class="card_info">
      <h2 class="card_info--name js-previewname">Nombre Apellido</h2>
      <h3 class="card_info--job js-previewjob">Front-end developer</h3>
    </section>
    <section class="card_photo js__profile-image"></section>
    <ul class="card_media">
      <li>
        <a class="js-linkTel" href="" target="_blank" title="phone-icon"
          ><i class="fas fa-mobile-alt card_media--item" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a class="js-linkEmail" href="" target="_blank" title="mail-icon"
          ><i class="fa fa-envelope card_media--item" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a class="js-linkIn" href="#" target="_blank" title="linkedin-icon"
          ><i class="fab fa-linkedin-in card_media--item" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a class="js-linkGit" href="#" target="_blank" title="github-icon"
          ><i class="fab fa-github-alt card_media--item" aria-hidden="true"></i
        ></a>
      </li>
    </ul>
  </section>
</section>
